<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <xacro:property name="PI" value="3.14159265359"/>
    <xacro:property name="Y" value="0.2"/>
    <xacro:property name="W_tt" value="0.35"/>
    <xacro:property name="L_tt" value="0.40"/>
    <xacro:property name="W_td" value="0.05"/>
    <xacro:property name="L_td" value="0.05"/>
    <xacro:property name="W_th" value="0.10"/>
    <xacro:property name="L_th" value="0.50"/>
    <xacro:property name="W_sh" value="0.10"/>
    <xacro:property name="L_sh" value="0.50"/>
    <xacro:property name="W_fh" value="0.10"/>
    <xacro:property name="W_fl" value="0.05"/>
    <xacro:property name="L_fb" value="0.10"/>
    <xacro:property name="L_fm" value="0.20"/>
    <xacro:property name="L_ff" value="0.12"/>
    <xacro:property name="W_t" value="0.05"/>
    <xacro:property name="L_t" value="0.15"/>
    <xacro:property name="T_t" value="0.20"/>
    <xacro:property name="T_oo" value="0.15"/>


    <xacro:property name="mass_torso" value="0.8"/>
    <xacro:property name="mass_thigh" value="0.835"/>
    <xacro:property name="mass_shank" value="0.501"/>
    <xacro:property name="mass_foot" value="0.159"/>
    <xacro:property name="mass_toe" value="0.49"/>


    <xacro:property name="joint_damping" value="0.1"/>
    <xacro:property name="joint_friction" value="0.05"/>
</robot>